body {
  background-color: bisque;
}
#all2 {
  height: 500px;
}
fieldset {
  display: flex;

  margin: 10px 101px;
  width: 500px;
  flex-wrap: wrap;
  flex-direction: row;
  border: 5px solid rgb(72, 119, 2);
  background-color: rgb(238, 209, 167);
}

#sprawozdanie {
  height: 50px;
  width: 250px;
}
#informacje {
  width: 450px;
}
